/projects/n32g43x_RTT_UART/APP/MDK-ARM/bin
/projects/n32g43x_RTT_UART/APP/MDK-ARM/Listings
/projects/n32g43x_RTT_UART/APP/MDK-ARM/Objects
/projects/n32g43x_RTT_UART/GCC/build
/projects/LedBlink/GCC/build
/projects/Bootloader/GCC/boot_build/
/build
/.cache/
